body {
	font-family: Lora, serif;
	color: black;
}
h1.title {
	font-family: Roboto, sans-serif;
	padding: 0.5em 0.5em;
	font-weight: 500;
	background-color: #e6e6e6;
}
h1.title.is-4 {
	background-color: lime;
}
